.start-container{
    min-height:500px;
    text-align: center;
    background-color: #bfc6d0;
}
.start-alignment{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 2px;
}
