<div class="start-container start-alignment">
   <div class="dost-slider">
        <img src="../assets/images/slider1.jpg"/>
   </div>
   <div class="profile-photo">
       <img src="../assets/images/profile1.jpg"/>
   </div>
   <div class="dost-info-container">
       <ul class="dost-info">
           <li><a [routerLink]="['/dost/:dostName/durum']">Durum Bildir</a></li>
           <li>OSCAR</li>
           <li><a [routerLink]="['']">+ Gönüllü Ol</a></li>
       </ul>
   </div>
   <router-outlet></router-outlet>
</div>