.start-inside{
    padding-top: 30px;
    width: 65%;
    margin: auto;
}

.start-inside md-input-container{
    margin-top:10px;
}

.txt-forgot{
    width:100%;
    color:#2b3f60;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: auto;
}

.button-container{
    width:90%;
    margin:auto;
}

.button-container a{
    text-align: center;
    margin:auto;
    color:#2b3f60;
    text-decoration: none;
}

.button-login{
    margin: auto;
    height: 30px;
    width:150px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

.button-forgot{
    margin: auto;
    background: #2b3f60;
    border-radius: 5px;
    color:white;
    height: 30px;
    width:100%;
    text-align: center;
    line-height: 30px;
}

