.start-container{
    min-height:705px;
    text-align: center;
}
.start-alignment{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 2px;
}
.start-content{
    background-image: url('/../assets/images/bg_forget.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width:80%;
    min-height: 300px;
    margin:auto;
    margin-top:60px;
}

.start-inside{
    padding-top: 90px;
    width: 75%;
    margin: auto;
}

.txt-forgot{
    width:100%;
    color:#2b3f60;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: auto;
}

.button-container{
    width:90%;
    margin:auto;
}

.button-container a{
    text-align: center;
    margin:auto;
    color:#2b3f60;
    text-decoration: none;
}

.button-login{
    margin: auto;
    height: 30px;
    width:150px;
    text-align: right;
    line-height: 30px;
    font-weight: 500;
    font-size: 13px;
}

.button-forgot{
    margin: auto;
    background: #2b3f60;
    border-radius: 5px;
    color:white;
    height: 30px;
    width:100%;
    text-align: center;
    line-height: 30px;
}

