<div class="start-container start-alignment">
  <div class="dost-container">
    <img src="/src/assets/images/profile1.jpg" />
    <div class="dost-info">
      <div class="txt-name">OSCAR</div>
      <div class="txt-besin"><b>Beslenme Durumu:</b> Beslendi</div>
      <div class="txt-saglik"><b>Sağlık Durumu:</b> Normal</div>
      <div class="txt-lokasyon">Yakınında!</div>
    </div>
  </div>

  <div class="dost-container">
    <img src="/src/assets/images/profile1.jpg" />
    <div class="dost-info">
      <div class="txt-name">OSCAR</div>
      <div class="txt-besin"><b>Beslenme Durumu:</b> Aç</div>
      <div class="txt-saglik"><b>Sağlık Durumu:</b> Normal</div>
      <div class="txt-lokasyon">Kampüs Dışında!</div>
    </div>
  </div>

    </div>