<div class="start-container start-alignment">
    <div class="start-content">
        <div class="start-inside">
            <div class="txt-forgot">ŞİFREMİ UNUTTUM</div>
            
            <br/><br/>
            <md-input-container>
                <input mdInput placeholder="E-posta adresinizi giriniz" value="">
            </md-input-container>
          
            <br/>
            <div class="button-container">
                <a href="">
                    <div class="button-login">
                        Giriş Yap
                    </div>
                </a>
                <br/>
                <a href="">
                    <div class="button-forgot">
                        ŞİFREMİ HATIRLAT
                    </div>
                </a>
                </div>
                </div>
            </div>
        </div>