<div class="start-container start-alignment">
    <div class="start-content">
        <div class="start-inside">
            <div class="txt-register">ÜYE OL</div>
            <br/>
            <div class="txt-or">YA DA</div>
            <br/><br/>
            <md-input-container>
                <input mdInput placeholder="E-posta adresinizi giriniz" value="">
            </md-input-container>
            <br/>
            <md-input-container>
                <input mdInput placeholder="Şifrenizi giriniz" value="">
            </md-input-container>
            <br/>
            <div class="button-container">
                <a href="">
                    <div class="button-forgot">
                        Şifremi Unuttum
                    </div>
                </a>
                <a href="">
                    <div class="button-login">
                        Giriş Yap
                    </div>
                </a>
                </div>
                </div>
            </div>
        </div>