<div class="start-container start-alignment">
    <img src="/../assets/images/bg.jpg" style="background-repeat: no-repeat;width: 100%;height: 100%;position: absolute;z-index: -1;"
    />
    <div class="start-content">
        <div class="start-inside">
            <md-input-container>
                <input mdInput placeholder="E-posta adresinizi giriniz" value="">
            </md-input-container>
            <br/>
            <md-input-container>
                <input mdInput placeholder="Şifrenizi giriniz" value="">
            </md-input-container>
            <br/>
            <div class="button-container">
                <a [routerLink]="['/sifremiunuttum']">
                    <div class="button-forgot">
                        Şifremi Unuttum
                    </div>
                </a>
                <a [routerLink]="['']">
                    <div class="button-login">
                        Giriş Yap
                    </div>
                </a>
                <a [routerLink]="['']">
                    <div class="button-register">Hala üye olmadınız mı?</div>
                </a>
            </div>
        </div>
    </div>
</div>